/*!
    Title: Dev Portfolio Template
    Version: 1.2.2
    Last Change: 03/25/2020
    Author: Ryan Fitzgerald
    Repo: https://github.com/RyanFitzgerald/devportfolio-template
    Issues: https://github.com/RyanFitzgerald/devportfolio-template/issues

    Description: This file contains all the styles associated with the page
    that don't come from third party libraries. This file gets compiled using
    Gulp and send to the /css folder which is then loaded on the page.
*/

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

body.active {
    overflow: hidden;
    z-index: -1;
}

.no-js #experience-timeline > div {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dcd9d9;
}

.no-js #experience-timeline > div h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #374054;
    display: inline-block;
    margin: 0;
}

.no-js #experience-timeline > div h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: #7e8890;
    margin: 0 0 15px 0;
}

.no-js #experience-timeline > div p {
    color: #74808a;
    font-size: 0.9em;
    margin: 0;
}

.no-js #experience-timeline:before,
.no-js #experience-timeline:after {
    content: none;
}

@keyframes dropHeader {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.75s;
}

header ul {
    display: inline-block;
    background: #fff;
    text-align: center;
    padding: 10px;
    margin: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

header li {
    display: inline-block;
}

header a {
    display: block;
    color: #3498db;
    padding: 10px;
}

header a:hover {
    color: #217dbb;
    text-decoration: none;
    background: #eee;
    border-radius: 4px;
}

header a:focus {
    color: #3498db;
    text-decoration: none;
}

header.active {
    display: block;
}

header.sticky {
    position: fixed;
    z-index: 999;
}

#menu.active {
    display: block;
}

#mobile-menu-open {
    display: none;
    cursor: pointer;
    position: fixed;
    right: 15px;
    top: 10px;
    color: #3498db;
    font-size: 1.5em;
    z-index: 20;
    padding: 0 7px;
    border-radius: 4px;
    background: #fff;
}

#mobile-menu-close {
    display: none;
    text-align: right;
    width: 100%;
    background: #fff;
    font-size: 1.5em;
    padding-right: 15px;
    padding-top: 10px;
    cursor: pointer;
    color: #3498db;
}

#mobile-menu-close span {
    font-size: 0.5em;
    text-transform: uppercase;
}

#mobile-menu-close i {
    vertical-align: middle;
}

footer {
    padding: 50px 0;
}

.copyright {
    padding-top: 20px;
}

.copyright p {
    margin: 0;
    color: #74808a;
}

.top {
    text-align: center;
}

.top span {
    cursor: pointer;
    display: block;
    margin: 15px auto 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #b9bfc4;
    text-align: center;
}

.top i {
    color: #74808a;
}

.social {
    text-align: right;
}

.social ul {
    margin: 5px 0 0 0;
    padding: 0;
}

.social li {
    display: inline-block;
    font-size: 1.25em;
    list-style: none;
}

.social a {
    display: block;
    color: #74808a;
    padding: 10px;
}

.social a:hover {
    color: #3498db;
}

.btn-rounded-white {
    display: inline-block;
    color: #fff;
    padding: 15px 25px;
    border: 3px solid #fff;
    border-radius: 30px;
    transition: .5s ease all;
}

.btn-rounded-white:hover {
    color: #3498db;
    background: #fff;
    text-decoration: none;
}

.shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-large {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
}

.heading {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 30px 0;
}

.heading:after {
    position: absolute;
    content: '';
    top: 100%;
    height: 1px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #3498db;
}

.background-alt {
    background: #f2f2f5;
}

#intro {
    position: relative;
    min-height: 500px;
    max-height: 1080px;
    background-color: white;
    display: flex;
    flex-direction: row; /* Side-by-side layout */
    justify-content: center; /* Center the items horizontally */
    align-items: center;     /* Center the items vertically */
    padding: 20px; /* Add padding to the sides of the webpage */
    box-sizing: border-box; /* Ensure padding does not affect the total width */
}

#intro-content {
    flex: 1;
    margin-right: 20px; /* Add some space between the content and the gallery */
    max-width: 45%; /* Adjust the width as needed */
}

#intro-gallery {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 45%; /* Adjust the width as needed */
}

#intro-gallery img {
    max-width: 60%;
    width: 60%;
    height: auto;
    border-radius: 10px; /* Optional: Add some rounding to the corners of the images */
}

#intro-content ul {
    list-style-type: disc; /* Use disc bullets */
    padding-left: 20px;    /* Add some padding to the left for the bullet points */
}

#intro-content ul li {
    margin-bottom: 10px; /* Space between list items */
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    #intro {
        flex-direction: column; /* Stack items vertically */
        padding: 10px; /* Reduce padding for smaller screens */
    }

    #intro-content {
        margin-right: 0; /* Remove the right margin */
        max-width: 100%; /* Full width */
        margin-bottom: 20px; /* Add space between content and image */
    }

    #intro-gallery {
        max-width: 100%; /* Full width */
        margin-left: 0; /* Remove the left margin */
    }
}


#functionality-prototype-container {
    position: relative;
    min-height: 30vh;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the items horizontally */
    align-items: center;     /* Center the items vertically */
    text-align: center;      /* Center text content */
}

#functionality-prototype-container h1 {
    margin-bottom: 20px;
}

#functionality-prototype-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Create responsive grid */
    gap: 20px; /* Space between cards */
    width: 100%;
    max-width: 1200px; /* Optional: limit the max width of the grid */
    margin-bottom: 10px;
}

.card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for better visibility */
    text-align: left;
}

.card h3 {
    margin-bottom: 10px;
}

.card ul {
    list-style-type: disc;
    padding-left: 20px;    /* Add some padding to the left for the bullet points */
}

.card ul li {
    margin-bottom: 10px; /* Space between list items */
}


#prototype-showcase-container {
    position: relative;
    height: auto; /* Allow the container to adjust its height based on content */
    min-height: 500px;
    max-height: 1080px;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: center; /* Center the items horizontally */
    align-items: center;     /* Center the items vertically */
    text-align: center;      /* Center text content */
    margin-top: 50px;        /* Add top margin to create space between sections */
    box-sizing: border-box;  /* Include padding and margin in height calculations */
}

#prototype-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#prototype-content h1 {
    margin-bottom: 60px; /* Add some space between the header and the video */
}

#prototype-content iframe {
    width: 80%;
    height: 80vh; /* Set height to 80% of viewport height */
    max-width: 1000px; /* Optional: limit the max width */
    max-height: 80vh; /* Optional: limit the max height */
    border-radius: 10px; /* Optional: add rounding to the corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for better visibility */
    margin-bottom: 100px;
}

#prototype-result-heading{
    position: relative;
    height: auto;
    min-height: 10px;
    max-height: 1080px;
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center;     /* Center the items vertically */
    text-align: center;      /* Center text content */
}

#prototype-result-container{
    position: relative;
    height: 100vh;
    min-height: 500px;
    max-height: 1080px;
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center;     /* Center the items vertically */
    text-align: center;      /* Center text content */
}

#solution-display {
    position: relative;
    height: auto;
    min-height: 500px;
    max-height: 1080px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the items horizontally */
    align-items: center;     /* Center the items vertically */
    text-align: center;      /* Center text content */
    padding: 15px; /* Add padding to the container */
}

#solution-display h1 {
    margin-bottom: 20px; /* Add space between the heading and the image */
}

.solution-image {
    max-width: 80%;
    height: auto;
    border-radius: 10px; /* Optional: add rounded corners to the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for better visibility */
}

/* Responsive design adjustments for devices with width less than 900px */
@media (max-width: 768px) {
    .solution-image {
        width: 60%; /* Adjust the max width for smaller devices */
        height: auto;
    }

    #solution-display{
        height: auto;
    }
}



#prototype-result-container {
    position: relative;
    height: 100vh;
    min-height: 500px;
    max-height: 1080px;
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center;     /* Center the items vertically */
    text-align: center;      /* Center text content */
}

#prototype-content-result {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.grid-container_result {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
    gap: 10px; /* Space between images */
    width: 100%;
    height: 100%;
    max-width: 1200px; /* Optional: limit the max width of the grid */
}

.grid-item_result {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.grid-item_result img {
    width: 100%;
    height: 80%;
    object-fit: cover; /* Ensures uniform height and crops the image if necessary */
    border-radius: 10px; /* Optional: add rounding to the corners */
}
/* Responsive design adjustments */
@media (max-width: 768px) {
    .grid-container_result {
        grid-template-columns: 1fr; /* Make images stack vertically in one column */
        gap: 5px; /* Reduce gap between images */
    }

    .grid-item_result img {
        width: 40%; /* Scale down the images to 80% of their original size */
        height: auto; /* Maintain aspect ratio */
    }

    #prototype-result-container {
        height: 300vh; /* Adjust height to fit content */
    }
}

#team-intro {
    position: relative;
    height: 100vh;
    min-height: 500px;
    max-height: 1080px;
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center;     /* Center the items vertically */
    text-align: center;      /* Center text content */
}

#team-intro-content {
    max-width: 70%; /* Adjust as needed for desired width */
    margin: 0 auto; /* Center the content horizontally */
}

#team-intro-content h1,
#team-intro-content p {
    margin: 0;
}

#team-intro-content h1 {
    color: #000000;
    font-weight: 900;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1.2em;
    margin-bottom: 20px; /* Add margin to separate the header from the description */
}

#team-intro-content p {
    font-size: 1.2em;
    color: #666666;
    margin-bottom: 15px;
}

#team-photo img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Optional: Add some rounding to the corners of the image */
    margin-top: 20px; /* Add margin to separate the image from the description */
}
.underline{
    text-decoration: underline;
}
#team-intro-content ul {
    list-style-type: disc; /* Use disc bullets */
    padding-left: 20px;    /* Add some padding to the left for the bullet points */
    text-align: left;      /* Align text to the left for the list */
    display: inline-block; /* Ensure the list is centered */
    margin: 0 auto;        /* Center the list within the parent container */
}

#team-intro-content ul li {
    font-size: 1.2em;
    color: #666666;
    margin-bottom: 5px;
}

#lead {
    position: relative;
    height: 100vh;
    min-height: 500px;
    max-height: 1080px;
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center;     /* Center the items vertically */
}

#lead-content {
    flex: 1;
    padding-right: 10px;    /* Reduce the right padding */
    max-width: 50%;         /* Limit the max-width to keep content closer */
    text-align: center;     /* Center the text within the content */
}

#lead-content h1,
#lead-content h2 {
    margin: 0;
}

#lead-content h1 {
    color: #000000;
    font-weight: 900;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1.2em;
}

#lead-content h2 {
    color: #a0cfee;
    font-weight: 500;
    font-size: 2.25em;
    margin-bottom: 15px;
}

#lead-content p {
    font-size: 1.2em;
    color: #666666;
    margin-bottom: 15px;
}

#lead-photo {
    flex: 1;
    text-align: left;        /* Align to the left to reduce space */
    max-width: 30%;          /* Limit the max-width to keep photo closer */
}

#lead-photo img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

#lead-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

#lead-down {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    bottom: 15px;
    color: #fff;
}

#lead-down span {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #a0cfee;
    text-align: center;
}

#lead-down i {
    animation: pulsate 1.5s ease;
    animation-iteration-count: infinite;
    padding-top: 5px;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}




@keyframes pulsate {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1.2);
    }
    100% {
        transform: scale(1, 1);
    }
}

#teleport-options {
    position: relative;
    height: 40vh;
    min-height: 500px;
    max-height: 1080px;
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center;     /* Center the items vertically */
    text-align: center;      /* Center text content */
}

.button-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.button-container a {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    transition: background-color 0.3s;
    color: white;
}

.left-button {
    background-color: rgb(129, 220, 250); /* Green */
}

.right-button {
    background-color: #69c2d8; /* Blue */
}

.button-container a:hover {
    background-color: #555; /* Darker background on hover */
}

.button-container a i {
    margin-left: 10px;
}

.arrow-left {
    margin-left: 0;
    margin-right: 10px; /* Reduce the margin */
}

.arrow-right {
    margin-left: 10px;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    #teleport-options {
        height: 50vh; /* Reduce the height for smaller screens */
        min-height: auto; /* Adjust min-height */
        max-height: auto; /* Adjust max-height */
    }

    .button-container a {
        font-size: 0.8em; /* Further reduce font size */
        padding: 3px; /* Reduce padding */
    }

    .button-container a i {
        margin: 0 5px; /* Adjust margin for smaller screens */
    }

    .arrow-left {
        margin-right: 5px; /* Further reduce the margin */
    }

    .arrow-right {
        margin-left: 5px; /* Further reduce the margin */
    }

    .left-button {
        flex: 1.2; /* Make the left button slightly wider */
    }

    .right-button {
        flex: 0.8; /* Make the right button slightly narrower */
    }
}




#skills-card-container {
    position: relative;
    height: 40vh;
    min-height: 500px;
    max-height: 1080px;
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center;     /* Center the items vertically */
    text-align: center;      /* Center text content */
}

#skills-content {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for better visibility */
    text-align: center; /* Center text and bullet points */
    width: 80%; /* Adjust the width of the card */
    max-width: 800px; /* Optional: limit the max width of the card */
}

#skills-content h1 {
    margin-bottom: 15px;
    font-size: 1.5em; /* Slightly bigger text for the heading */
}

#skills-content ul {
    list-style-type: disc;
    padding-left: 0; /* Remove default padding */
    text-align: center; /* Center the bullet points */
}

#skills-content ul li {
    margin-bottom: 10px; /* Space between list items */
    font-size: 1.2em; /* Slightly bigger text for the list items */
    list-style-position: inside; /* Ensure bullets are inside the padding area */
}




#about {
    padding: 75px 15px;
    border-bottom: 1px solid #dcd9d9;
}

#about h2 {
    color: #374054;
}

#about p {
    color: #74808a;
    margin: 0;
}

#experience {
    padding: 50px 15px;
    text-align: center;
    border-bottom: 1px solid #dcd9d9;
}

#experience h2 {
    color: #374054;
}

#experience-timeline {
    margin: 30px auto 0 auto;
    position: relative;
    max-width: 1000px;
}

#experience-timeline:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 303px;
    right: auto;
    height: 100%;
    width: 3px;
    background: #3498db;
    z-index: 0;
}

#experience-timeline:after {
    position: absolute;
    content: '';
    width: 3px;
    height: 40px;
    background: #3498db;
    background: linear-gradient(to bottom, #3498db, rgba(52, 152, 219, 0));
    top: 100%;
    left: 303px;
}

.vtimeline-content {
    margin-left: 350px;
    background: #fff;
    border: 1px solid #e6e6e6;
    padding: 15px;
    border-radius: 3px;
    text-align: left;
}

.vtimeline-content h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #374054;
    display: inline-block;
    margin: 0;
}

.vtimeline-content h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: #7e8890;
    margin: 0 0 15px 0;
}

.vtimeline-content p {
    color: #74808a;
    font-size: 0.9em;
    margin: 0;
}

.vtimeline-point {
    position: relative;
    display: block;
    vertical-align: top;
    margin-bottom: 30px;
}

.vtimeline-icon {
    position: relative;
    color: #fff;
    width: 50px;
    height: 50px;
    background: #3498db;
    border-radius: 50%;
    float: left;
    z-index: 99;
    margin-left: 280px;
}

.vtimeline-icon i {
    display: block;
    font-size: 2em;
    margin-top: 10px;
}

.vtimeline-date {
    width: 260px;
    text-align: right;
    position: absolute;
    left: 0;
    top: 10px;
    font-weight: 300;
    color: #374054;
}

#education {
    padding: 50px 15px 20px 15px;
    border-bottom: 1px solid #dcd9d9;
    text-align: center;
}

#education h2 {
    color: #374054;
    margin-bottom: 50px;
}

.education-block {
    max-width: 700px;
    margin: 0 auto 30px auto;
    padding: 15px;
    border: 1px solid #dcd9d9;
    text-align: left;
}

.education-block h3 {
    font-weight: 500;
    float: left;
    margin: 0;
    color: #374054;
}

.education-block span {
    color: #74808a;
    float: right;
}

.education-block h4 {
    color: #74808a;
    clear: both;
    font-weight: 500;
    margin: 0 0 15px 0;
}

.education-block p,
.education-block ul {
    margin: 0;
    color: #74808a;
    font-size: 0.9em;
}

.education-block ul {
    padding: 0 0 0 15px;
}

#projects {
    padding: 50px 15px;
    border-bottom: 1px solid #dcd9d9;
    text-align: center;
}

#projects h2 {
    color: #374054;
    margin-bottom: 50px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    justify-content: center; /* Center items when fewer than necessary to fill the row */
}

.project {
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: transform 0.3s;
    max-width: 300px; /* Ensure the project item doesn't stretch too wide */
    margin: auto; /* Center the project item when there's only one */
}

.project:hover {
    transform: scale(1.05);
}

.project-image img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #dcd9d9;
}

.project-info {
    padding: 15px;
    text-align: left;
}

.project-info h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #374054;
    margin: 0 0 15px 0;
}

.project-info p {
    color: #74808a;
    margin: 0 0 15px 0;
    font-size: 0.9em;
}

.project-info a {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
}

.project-info a:hover {
    text-decoration: underline;
}


.project-info a.btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    margin-top: auto;
}

.project-info a.btn:hover {
    background-color: #0056b3;
}




#skills {
    padding: 50px 15px;
    text-align: center;
}

#skills h2 {
    color: #374054;
    margin-bottom: 50px;
}

#skills ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
}

#skills li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: #374054;
    background: #e4e4ea;
    list-style: none;
    cursor: default;
    font-size: 1.2em;
}

#contact {
    padding: 50px 15px;
    background: #3498db;
    text-align: center;
}

#contact h2 {
    margin: 0 0 15px 0;
    color: #fff;
    font-weight: 500;
}

#contact-form {
    max-width: 500px;
    margin: 0 auto;
}

#contact-form input,
#contact-form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    background: #1d6fa5;
    color: #fff;
    transition: .5s ease all;
}

#contact-form input::-webkit-input-placeholder,
#contact-form textarea::-webkit-input-placeholder {
    color: #fff;
}

#contact-form input:-moz-placeholder,
#contact-form textarea:-moz-placeholder {
    color: #fff;
    opacity: 1;
}

#contact-form input::-moz-placeholder,
#contact-form textarea::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

#contact-form input:-ms-input-placeholder,
#contact-form textarea:-ms-input-placeholder {
    color: #fff;
}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    background: #16527a;
}

#contact-form textarea {
    height: 150px;
    resize: none;
}

#contact-form button {
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    border: none;
    color: #3498db;
    font-weight: 700;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: .5s ease all;
}

#contact-form button:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.optional-section {
    padding: 50px 15px;
    text-align: center;
    border-top: 1px solid #dcd9d9;
}

.optional-section h2 {
    color: #374054;
}

.optional-section-block {
    max-width: 700px;
    margin: 0 auto 30px auto;
    padding: 15px;
    border: 1px solid #dcd9d9;
    background: #fff;
    text-align: left;
}

.optional-section-block h3 {
    font-weight: 500;
    margin: 0 0 15px 0;
    color: #374054;
}

.optional-section-block h4 {
    color: #74808a;
    clear: both;
    font-weight: 500;
    margin: 0 0 15px 0;
}

.optional-section-block p,
.optional-section-block ul {
    margin: 0 0 15px 0;
    color: #74808a;
    font-size: 0.9em;
}

.optional-section-block ul {
    padding: 0 0 0 15px;
}

@media only screen and (max-width: 750px) {
    #experience-timeline:before,
    #experience-timeline:after {
        left: 23px;
    }

    .vtimeline-date {
        width: auto;
        text-align: left;
        position: relative;
        margin-bottom: 15px;
        display: block;
        margin-left: 70px;
    }

    .vtimeline-icon {
        margin-left: 0;
    }

    .vtimeline-content {
        margin-left: 70px;
    }
}

@media only screen and (max-width: 992px) {
    #lead {
        height: auto;
        min-height: auto;
        max-height: auto;
        padding: 100px 15px;
    }

    #lead-content {
        position: relative;
        transform: none;
        left: auto;
        top: auto;
    }

    #lead-content h1 {
        font-size: 3em;
    }

    #lead-content h2 {
        font-size: 1.75em;
    }

    #about {
        text-align: center;
    }

    #about p {
        text-align: left;
    }
}

@media only screen and (max-width: 768px) {
    header {
        position: fixed;
        display: none;
        z-index: 999;
        animation: none;
        bottom: 0;
        height: 100%;
    }

    #mobile-menu-open,
    #mobile-menu-close {
        display: block;
    }

    #menu {
        height: 100%;
        overflow-y: auto;
        box-shadow: none;
        border-radius: 0;
        width: 100%;
    }

    #menu li {
        display: block;
        margin-bottom: 10px;
    }

    #lead-content h1 {
        font-size: 2em;
    }

    #lead-content h2 {
        font-size: 1.3em;
    }

    #lead-content a {
        padding: 10px 20px;
    }

    #lead-down {
        display: none;
    }

    .education-block h3,
    .education-block span {
        float: none;
    }

    /* .project-image {
        display: none;
    } */

    .project-info {
        position: relative;
        margin: 0;
        padding: 30px 15px;
        top: auto;
        transform: none;
    }

    footer {
        text-align: center;
    }

    .social {
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    #lead-content h1 {
        font-size: 1.5em;
    }

    #lead-content h2 {
        font-size: 1em;
    }

    #lead-content a {
        font-size: 0.9em;
        padding: 5px 10px;
    }
}
.custom-footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}

.custom-footer .custom-copyright {
    margin-bottom: 15px;
}

.custom-footer .custom-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.custom-footer .custom-social ul li {
    display: inline-block;
    margin: 0 10px;
}

.custom-footer .custom-social a {
    color: #333;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-footer .custom-social a:hover {
    color: #007bff;
}

.custom-footer .custom-social i {
    font-size: 24px;
}

.custom-footer .custom-social span {
    margin-top: 5px;
    font-size: 14px;
}

.custom-footer .custom-top {
    margin-top: 15px;
}

.custom-footer .custom-top span {
    cursor: pointer;
    font-size: 24px;
    color: #333;
}

.custom-footer .custom-top span:hover {
    color: #007bff;
}

#validation {
    position: relative;
    min-height: 500px;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: center; /* Center the items horizontally */
    align-items: center;     /* Center the items vertically */
    text-align: center;      /* Center text content */
    box-sizing: border-box;  /* Include padding in height calculations */
}

.validation-images {
    display: flex;
    flex-direction: row; /* Display images side by side */
    justify-content: center; /* Center the images horizontally */
    align-items: center;     /* Center the images vertically */
    gap: 15px;               /* Add gap between the images */
    width: 100%;
    max-width: 1000px;       /* Constrain the width of the content */
}

.validation-images img {
    width: 50%;              /* Ensure images take up half the container each */
    height: 300px;           /* Set a fixed height for the images */
    object-fit: cover;       /* Ensure images cover the specified height */
    border-radius: 10px;     /* Add rounded corners */
    border: 3px solid #ddd;  /* Add a light gray border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    #validation {
        padding-top: 50px;   /* Add padding at the top for mobile view */
        min-height: auto;    /* Allow the section to expand based on content */
    }

    .validation-images {
        flex-direction: column; /* Stack images vertically */
    }

    .validation-images img {
        width: 100%;            /* Ensure images take full width on mobile */
        height: auto;           /* Maintain aspect ratio on mobile */
        margin-bottom: 15px;    /* Add space between images */
    }
}

/* Grid Container Wrapper */
.image-grid-container {
    display: flex;
    justify-content: center; /* Center the grid horizontally */
    margin: 0 auto; /* Add automatic left and right margins */
    max-width: 1200px; /* Set a maximum width for the grid */
    padding: 0 16px; /* Add some padding to the sides */
}
/* System Gallery Container */
#system-gallery-container {
    position: relative;
    height: auto; /* Adjust to content height */
    min-height: 500px;
    max-height: 1080px;
    background-color: white;
    padding: 15px 100px; /* Add padding: top/bottom 15px, left/right 100px */
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center;     /* Center content vertically */
    text-align: center;
    margin-top: 50px;
    box-sizing: border-box; /* Include padding in size calculations */
}



/* Grid Gallery */
.image-grid {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    max-width: 100%; /* Ensure the grid doesn't stretch beyond its container */
    width: 100%;
    box-sizing: border-box;
}

/* Grid Images */
.image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Spanning Columns and Rows */
.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
    .image-grid {
        --num-cols: 2;
        --row-height: 200px;
    }
}

@media screen and (max-width: 768px) {
    .image-grid {
        --num-cols: 1;
        --row-height: auto;
    }
}


#github-repo-container {
    position: relative;
    min-height: 500px;
    max-height: 1080px;
    background-color: white;
    display: flex;
    flex-direction: row; /* Side-by-side layout */
    justify-content: center; /* Center the items horizontally */
    align-items: center;     /* Center the items vertically */
    padding: 20px; /* Add padding to the sides of the webpage */
    box-sizing: border-box; /* Ensure padding does not affect the total width */
}
#repo_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.github-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.github-btn:hover {
    background-color: #ffffff;
    color:#000000;
}
.github-btn i {
    margin-right: 8px; /* Adjust spacing as needed */
}






